.new__card {
	position: relative;
	text-align: center;
	background-color: var(--container-color);
	padding-top: 2rem;
	border: 1px solid var(--border-color);
	overflow-y: hidden;
	transition: 0.3s;
}

.new__tag {
	background-color: var(--first-color);
	padding: 0.5rem 1rem;
	color: #fff;
	text-transform: uppercase;
	font-size: var(--small-font-size);
	font-weight: var(--font-medium);
	position: absolute;
	top: 1rem;
	right: 1rem;
	transition: 0.3s;
}

.new__img {
	height: 215px;
	margin-bottom: var(--mb-1);
}

.new__title,
.new__price {
	font-size: var(--h3-font-size);
	font-weight: var(--font-bold);
}

.new__title {
	text-transform: uppercase;
	margin-bottom: var(--mb-0-75);
}

.new__price {
	display: block;
	color: var(--first-color);
	transition: 0.3s;
}

.new__button {
	font-size: var(--small-font-size);
	transform: translateY(1rem);
	opacity: 0;
}

.new__card:hover {
	background-color: var(--first-color);
	box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
	padding: 2rem 0 3rem 0;
}

.new__card:hover .new__tag {
	background-color: var(--button-color);
}

.new__card:hover .new__button {
	transform: translateY(0);
	opacity: 1;
}

.new__card:hover .new__title {
	color: hsl(0, 0%, 15%);
}

.new__card:hover .new__price {
	color: hsl(0, 0%, 15%);
	margin-bottom: var(--mb-1-5);
}

/* .swiper {
	width: 100%;
	height: 100%;
} */

/* .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
} */

/* .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
} */
